:root {
    --main-brand-color: #2E2F42;
    --main-brand-text-color: #2E2F42;
    --primary-text-color: #434455;
    --primary-action-color: #4D5AE5;
    --hover-action-color: #404BBF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: var(--main-brand-color);
    margin: 0;
}

.container {
    max-width: 1128px;
    padding: 0 15px;
    margin: 0 auto;
    /* outline: 2px solid red; */
}

.link {
    text-decoration: none;
    font-style: normal;
}

.list {
    list-style: none;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*-----------------Header----------------*/

.header {
    border-bottom: 1px solid #E7E9FC;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #FFFFFF;
}

.header>.container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo {
    margin-right: 76px;
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--main-brand-text-color);
}

.first-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--primary-action-color);
}

.header-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-item {}

.header-link {
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-brand-text-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--hover-action-color);
}

.current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    top: 45px;
    pointer-events: none;
    background: #404BBF;
    border-radius: 2px;
}

.contacts {}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-mail-item {}

.header-mail {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.header-mail:hover,
.header-mail:focus {
    color: var(--hover-action-color);
}

.header-tel-item {}

.header-tel {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.header-tel:hover,
.header-tel:focus {
    color: var(--hover-action-color);
}

/*--------------Hero-----------------*/

.hero {

    background-color: var(--main-brand-color);
    padding-top: 188px;
    padding-bottom: 188px;
    margin: 0 auto;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/peopleoffice1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-title {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 48px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.hero-btn {
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 16px 32px;
    gap: 10px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    background-color: var(--primary-action-color);
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--hover-action-color);
}

/*------------------features---------------*/

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-title {}

.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 264px;
}

.features-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background: #F4F4FD;
    border-radius: 4px;
}

.features-icon {}

.benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-brand-text-color)
}

.benefits-desc {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

/*Doing*/

.doing {
    padding-bottom: 120px;
}

.doing-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-brand-text-color);
}

.doing-list {
    display: flex;
    gap: 24px;
}

.doing-item {}

/*--------------------Our Team---------------*/

.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-brand-text-color);
}

.team-cards {
    display: flex;
    gap: 24px;
}

.team-card {
    max-width: 264px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-img {}

.team-info {
    padding: 32px 16px;
}

.team-fullname {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-brand-text-color);
}

.team-position {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.team-social-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.team-social-item {
    width: 40px;
    height: 40px;
}

.team-social-link {
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-action-color);
}

.team-social-link:is(:hover, :focus) {
    background-color: var(--hover-action-color);
}

.team-social-icon {
    fill: #F4F4FD;
}

/* ---------------------Customers---------------------- */

.customers {
    padding-top: 130px;
    padding-bottom: 120px;
}

.customers-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-brand-color);
}

.client-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.client-item {
    width: 168px;
    height: 88px;
}

.client-link {
    transition-property: border-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    color: #8E8F99;
}

.client-link:is(:hover, :focus) {
    border-color: var(--hover-action-color);
    color: var(--hover-action-color);
}

.client-logo {
    fill: currentcolor;
}

/*------------------------Footer------------------------*/

.footer {
    background-color: var(--main-brand-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

footer .container {
    display: flex;
}

.footer-text-wrap {
    max-width: 264px;
    margin-right: 120px;
}

.footer .logo {
    line-height: 1.16;
    color: #F4F4FD;
}

.footer .first-logo {
    line-height: 1.16;
}

.footer-text {
    width: 264px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}

.footer-social-wrap {
    margin-right: 80px;
}

.footer-social-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.footer-social-list {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    ;
}

.footer-social-link:is(:hover, :focus) {
    background-color: #31D0AA;
}

.footer-social-icon {
    fill: #F4F4FD;
}

.subscribe-wrap {
    width: 100%;
}

.subscribe-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.subscribe-form {
    display: flex;
    /* justify-content: space-between; */
    /* gap: 24px; */
}

.user-email-input {
    box-sizing: border-box;
    width: 100%;
    margin-right: 24px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.user-email-input:focus {
    border: 1px solid #4D5AE5;
}

.user-email-input::placeholder {
    font-size: 12px;
    line-height: 2;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: var(--primary-action-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:is(:hover, :focus) {
    background-color: var(--hover-action-color);
}

.send-icon {
    fill: #FFFFFF;
    opacity: 0.24;
}


/*Portfolio*/

.portfolio-examples {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filters-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.filters-item {}

.filters-btn {
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--primary-action-color);
    background: #F4F4FD;
    cursor: pointer;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-btn:hover,
.filters-btn:focus {
    color: #FFFFFF;
    background-color: var(--hover-action-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;

}

.project-card {
    background: #FFFFFF;
}

.project-card-link {
    width: 100%;
    height: 100%;
}

.project-card-link:is(:hover, :focus) .project-content {
    border-color: #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-cover-wrap {
    position: relative;
    overflow: hidden;
}

.project-cover-text {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    padding: 40px 32px;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background: #4D5AE5;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.project-card:hover .project-cover-text {
    transform: translateY(0);
}

.project-content {
    transition-property: border-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    box-sizing: border-box;
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.project-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-brand-text-color);
}

.project-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

/* ------Backdrop------ */
.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 1500ms linear, visibility 1500ms linear;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(1turn) scale(1);
    rotate: 3turn;
    width: 360px;
    /* min-height: 484px; */
    padding: 72px 24px 24px 24px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition-property: transform, background-color;
    transition-duration: 1500ms;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.backdrop.is-hidden .modal {
    background-color: rgba(46, 47, 66, 0.4);
    transform: translate(-50%, -50%) rotate(0) scale(0);
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding: 0;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 50%;
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.modal-close:is(:hover, :focus) {
    background-color: var(--hover-action-color);
    fill: #FFFFFF;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-form {}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
    padding: 0px;
    gap: 8px;
    width: 100%;
}

.modal-field {
    width: 100%;
}

.modal-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.input-wrap {
    position: relative;
    width: 100%;
}

.modal-name {}

.modal-input {
    padding-left: 38px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    transition-property: border, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border: 1px solid var(--primary-action-color);
}

.modal-input:focus+.modal-icon {
    fill: var(--primary-action-color);
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: currentColor;
}

.modal-tel {}

.modal-email {}

.modal-textarea {
    display: block;
    padding: 8px 16px;
    height: 120px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-family: inherit;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border: 1px solid var(--primary-action-color);
}

.modal-textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-check {
    margin-bottom: 24px;
    display: block;
}

.check-text {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #757575;
    cursor: pointer;
}

.check-text::before {
    box-sizing: border-box;
    content: '';
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    margin-right: 8px;
    transition-property: border, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check:checked+.check-text::before {
    background-color: var(--primary-action-color);
    border: none;
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: center;
}



.policy-link {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: var(--hover-action-color);
}

.modal-btn {
    display: flex;
    justify-content: center;
    padding: 16px 32px;
    margin: 0 auto;
    width: 169px;
    height: 56px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    align-items: center;
    text-align: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: var(--primary-action-color);
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:is(:hover, :focus) {
    background-color: var(--hover-action-color);
}